<div class="login">
	<div  id="loader" hidden></div>
	<div class="loginContainer" id="loginContainer">
		<form id="loginForm" action="#">

			<br>
			<input type="text" name="username" id="username" placeholder="Username" required>
			<br>
			<input type="password" name="password" id="password" placeholder="Password" required>
			<br>
			<center>
				<div class="g-recaptcha" data-sitekey="6LfKZ74UAAAAAF2TXx7yJ_YDmI-76hHPkyPwX2dL" id="captcha"></div>
				<p id="alert" style="color:#f00; font-size: 12px;">&emsp;</p>
			</center>
			<br>
			<button type="submit">Login</button>
			<br>
			<a href="">Cadastre-se</a>
		</form>
	</div>
</div>