<!DOCTYPE html>
<html>
<head>
	<title>Schedules</title>
	<!--Favicon.ico-->
	<link rel="shortcut icon" href="App/public/favicon.ico" />

	<link rel="stylesheet" type="text/css" href="App/public/styles.css">
	
	<!--Meta tag de recursividade para dispositivos moveis-->
	<meta name="viewport" content="width=device-width">
	<!--Script do JQUERY-->
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</head>
<body class="bodyLogin">
	<div class="body">
		{{dynamic-area}}
	</div>

	<!--Script local-->
	<script type="text/javascript" src="App/public/script.js"></script>
	<!--Script do reCATPTCHA da google-->
	<script src='https://www.google.com/recaptcha/api.js'></script>
</body>
</html>